<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
</div>

<div class="t-3">
    <p>This is User Management system created by Lavanya</p>
</div>

<img src="img/david-clode-BLr8qyOWLkU-unsplash.jpg" alt="Laptop" width="473" height="316">

<div class="t-3">
    <p>THANK YOU FOR CHECKING OUT MY PAGE </p>
</div>



